#main .container {
  margin: 0;
}

#all.container {
  margin-top: 10px;
}
#all.container .inspiration {
  margin-top: 4vh;
  margin-bottom: 5%;
}
#all.container .inspiration .right {
  left: 93.5%;
}
#all .subheader-big {
  margin-top: 6vh;
  text-align: center;
}
#all .breadcrumbs {
  height: 50px;
  width: 100%;
  background-color: yellow;
}
