<div id="all" class="container">
    <div class="breadcrumbs">tut kroshki</div>
    <div class="collection">
        <div class="itemlist">
            <h2>COATS</h2>
            <div class="items">
                <div class="item">
                    <div>1200x600</div>
                </div>
                <div class="item">
                    <div>600x1200</div>
                </div>
                <div class="item">
                    <div>600x600</div>
                </div>
                <div class="item">
                    <div>550x700</div>
                </div>
            </div>
        </div>
        <div class="itemlist">
            <h2>OUTERWEAR</h2>
            <div class="items">
                <div class="item">
                    <div>1200x600</div>
                </div>
                <div class="item">
                    <div>600x1200</div>
                </div>
                <div class="item">
                    <div>600x600</div>
                </div>
                <div class="item">
                    <div>550x700</div>
                </div>
            </div>
        </div>
        <div class="itemlist">
            <h2>T-SHIRTS</h2>
            <div class="items">
                <div class="item">
                    <div>1200x600</div>
                </div>
                <div class="item">
                    <div>600x1200</div>
                </div>
                <div class="item">
                    <div>600x600</div>
                </div>
                <div class="item">
                    <div>550x700</div>
                </div>
            </div>
        </div>
    </div>
    <div class="subheader-big">Check our lookbook</div>
    <div class="inspiration">

                    <div class="slide">
                        <div>200х120</div><div>200х120</div><div>200х120</div><div>200х120</div><div>200х120</div><div>200х120</div><div>200х120</div><div>200х120</div>
                       
                        
                    </div>
                     <button class="left"></button><button class="right"></button>
               </div>
</div>
</div>