<div id="product" class="container">
      <div class="breadcrumbs"><ul>
        <li><a href="#Home">Home</a></li>
        <li><a href="#all">Men</a></li>
        <li><a href="#all">Shoes</a></li>
        <li><a ></a></li>
    </ul></div>
    <div id="item">
        <div class="images">
            <div class="main">
                <img src="" id="Main-image" alt="Main Picture">
            </div>
            <div class="preview">
                
            </div>
        </div>
    </div>
</div>