#main{
    
   
       .container{
        margin: 0;
    }
}
#wrapper{
    
}
#all{
  &.container{
      margin-top: 10px;
      .inspiration{
          margin-top:4vh;
          margin-bottom:5%;
      .slide{
          
      }
      .right{
          left:93.5%;
      }
  }
  }
  .subheader-big{
      margin-top:6vh;
      text-align:center
      ;
  }
  
  
  
    .breadcrumbs{
        
        height: 50px;
        width: 100%;
        background-color: yellow;
    }
}